@CHARSET "ISO-8859-1";
.row{
   width: 100%;
   display: block;
   padding: 50px 5px 50px 5px;
}
.col6{
   float: left;
   width: 50%;
}

.col4{
   float: left;
   width: 33%;
}
.col8{
   float: left;
   width: 66%;
}
.col3{
   float: left;
   width: 25%;
}

.col9{
   float: left;
   width: 75%;
}
.even{
   background-color: #F2F2F2;
}
.AddMerchantForm{
   width: 800px;
}
.AddMerchantForm input[type="text"]{
   width: 100%;
   height: 40px;
   margin-top: -15px;
   font-size: 20px;
}
.AddMerchantForm input[type="submit"]{
   width: 100%;
   height: 40px;
   margin-top: -15px;
   font-size: 20px;
}




